<ion-header>
  <ion-toolbar>
    <ion-title>Projeto 1 – PMOB67</ion-title>
  </ion-toolbar>
</ion-header>
 
  <ion-content padding >
    
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button (click)="getEndereco()" >Buscar</ion-button>
      </ion-col>

      <ion-col>
          <ion-searchbar class="pesquisa" type="text" [(ngModel)]="cep"
         ></ion-searchbar>
        </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-20>
          <ion-list class="pesquisa">
              <ion-item *ngIf="endereco.logradouro">
                  Logradouro:<br> {{ endereco.logradouro}}
                </ion-item >
                <ion-item *ngIf="endereco.complemento">
                  Complemento:<br> {{ endereco.complemento}}
                </ion-item >
                <ion-item *ngIf="endereco.bairro">
                  Bairro:<br> {{ endereco.bairro }}
                </ion-item >
                <ion-item *ngIf="endereco.localidade">
                  Cidade:<br> {{ endereco.localidade }}
                </ion-item>
                <ion-item *ngIf="endereco.uf">
                  UF:<br> {{ endereco.uf}}
                </ion-item >
                <ion-item *ngIf="endereco.unidade">
                  Unidade:<br> {{ endereco.unidade }}
                </ion-item>
                <ion-item *ngIf="endereco.ibge">
                  IBGE:<br> {{ endereco.ibge }}
                </ion-item>
                <ion-item *ngIf="endereco.gia">
                  GIA:<br> {{ endereco.gia }}
                </ion-item>
          </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>    


  <div #map id="map"></div>
</ion-content>