<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-searchbar [(ngModel)]="cep" (ionChange)="cepBusca()" placeholder="Digite o cep" type="text" ></ion-searchbar>
     
      <ion-list class="ion-margin-horizontal" [hidden]="!cep.length">
        <ion-item (click)="apontaRua(result)" *ngFor="let result of searchResults">
          {{result.description}}
        </ion-item>
      </ion-list>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div #map id="container"></div>
</ion-content>
